.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  // grid-template-columns: repeat(3, 1fr); // sin responsivo
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  // auto-fit va a crear mas row para mandar los items para abajo
  //cuando ya no quepan en el row actual
  //minmax(25rem, 1fr) el tamano minimo de una columna va a ser 25 o mayor
  //si es menor a 25 va a crear una nueva row y va a aventar el elemento
  //para abajo
  grid-gap: 6rem;
  align-items: start; // con esto pone los textos al princio de la columna
}

.feature {

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    //grid-row: 1 / -1; en este caso no usamos esto porque no funciona
    // en gri implicito solo en explicito
    text-transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
